profile: Qt501-x86_msvc2010
profiles.Qt501-x86_msvc2010.cpp.compilerName: cl.exe
profiles.Qt501-x86_msvc2010.cpp.toolchainInstallPath: C:/Program Files/Microsoft Visual Studio 10.0/VC/BIN
profiles.Qt501-x86_msvc2010.qbs.architecture: x86
profiles.Qt501-x86_msvc2010.qbs.targetOS: windows
profiles.Qt501-x86_msvc2010.qbs.toolchain: msvc
profiles.Qt501-x86_msvc2010.qt.core.binPath: D:/buildenv/Qt5.0.1/5.0.1/msvc2010/bin
profiles.Qt501-x86_msvc2010.qt.core.incPath: D:/buildenv/Qt5.0.1/5.0.1/msvc2010/include
profiles.Qt501-x86_msvc2010.qt.core.libInfix:
profiles.Qt501-x86_msvc2010.qt.core.libPath: D:/buildenv/Qt5.0.1/5.0.1/msvc2010/lib
profiles.Qt501-x86_msvc2010.qt.core.mkspecPath: D:/buildenv/Qt5.0.1/5.0.1/msvc2010/mkspecs
profiles.Qt501-x86_msvc2010.qt.core.namespace:
profiles.Qt501-x86_msvc2010.qt.core.version: 5.0.1

defaultProfile: Qt501-x86_msvc2010
